<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>67B938F3-E560-4815-9669-DCDA42841897.playgroundpage</string>
		<string>4C479840-6E50-4FBF-8A17-6EDE094386F7.playgroundpage</string>
	</array>
</dict>
</plist>
